<script>
  
  import { VaultContract } from './App.svelte';
  import { account } from './App.svelte';


  let oPayload = {
    uname : '',
    webs : "",
    pswd : ""
  };

  //console.debug(accountS, $accountS);

async function onCloseAdd()
{   oPayload = {
    uname : '',
    webs : "",
    pswd : ""
  };
    jQuery("#AddModal").modal("toggle");
}

  async function onSubmit() {
    VaultContract.methods.addCred(oPayload.uname, oPayload.pswd, oPayload.webs ).send(
    { from : $account  },
    async (err, txn)=> {
          console.debug(err, txn);
        
      onCloseAdd();
      }



    );
  };


</script>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <form>
  <div class="form-group">
    <label for="exampleWebsite1">Website</label>
    <input bind:value={oPayload.webs} type="text" class="form-control" id="exampleWebsite1" placeholder="Enter Website" >
    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input bind:value={oPayload.uname} type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input bind:value={oPayload.pswd} type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
</form>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" on:click={onCloseAdd} >Close</button>
        <button on:click={onSubmit} type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>