<script context="module"  >
export let VaultContract;
export let account = writable("");
//export let account = "";
</script>
<script  >
	import Header from './Header.svelte';
  import Page from './Page.svelte' ;
  import { onMount } from 'svelte';
  import { readable, writable } from 'svelte/store';
  import NotFound from './NotFound.svelte';

	//import pVault from '../abis/Passwordvault.json';
  let pVaultData, oVaultInfo = {}, bLoading = true, bNoMetamask;

   var oLoadProm = new Promise((res,rej)=> {
    if(loadWeb3())
        {
          res();
        }else
        {
          throw new Error("Could not initialize app.");
          rej();
        }
     }); 
	onMount(
		async () => {
      

			loadBlockchainData();

		}

  )
  
async function loadWeb3() {
   /*
   var fm = new Fortmatic('pk_test_EC2CFEB49DC54EFC');
   window.web3 = new Web3(fm.getProvider());
 */
 if (window.ethereum) {     
      window.web3 = new Web3(window.ethereum)
   //   web3 = new Web3(fm.getProvider());
      
      await window.ethereum.enable();
    }
    else if (window.web3) {
     // web3 = new Web3(fm.getProvider());
      window.web3 = new Web3(window.web3.currentProvider)
    }
    else {
     
      window.alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
      return false;
    }

    return true;
  }

async function loadBlockchainData(){
	const web3 = window.web3 ;
	const accounts = await web3.eth.getAccounts();
      //console.debug(accounts);
 // account= accounts[0] ;
account.update( val => accounts[0] )
	await fetch('/abis/Passwordvault.json')
  .then((response) => {
    return response.json();
  })
  .then((myJson) => {
	  pVaultData = myJson;
  });

	const networkId = await web3.eth.net.getId();
    const netData = pVaultData.networks[networkId];

	if(netData)
     { 
      const abi = pVaultData.abi;
      const address = netData.address
     VaultContract = await new web3.eth.Contract(abi, address); 
     //VaultContract.then(()=>{}, ()=>{console.debug("yo")});
    //console.debug(VaultContract);
	 await VaultContract.methods.getVaultInfo().call({
      from : $account
   }).then(async (data)=> {
      bLoading = false;
			 if(!+data.vc){
          oVaultInfo.sMessage = "No Vault created yet";
          console.log("No Vault created yet")
         return;
        }
        oVaultInfo.vno = data.vc;
        oVaultInfo.len = +data.len;
        window.len = data.len;
        window.vno = data.vc;
   },async (err)=> {
		console.log(err);
		sMessage = "No Vault created yet";
   }); 
    }else
    {
          alert("Please connect to Goreli(5) network.");
        throw new Error("contract not deployed to the network.");
    
    }
}

</script>
<Header />
{#await oLoadProm }
<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
  <span class="sr-only">Loading...</span>
</div>
  <h6>Initalizing Web App....</h6>
{:then}
{#if bLoading}
<Page />
{:else}
<Page  {oVaultInfo} />
{/if}
{:catch}
<NotFound />
{/await}
