<script>
import { account } from './App.svelte';
//export let account;


</script>
<!-- class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar" -->
<nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Password Vault
  </a>

  {#if $account.length === 0}
 <div class="spinner-border text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
  {:else}
  <h5 class="text-dark float-md-right">{$account}</h5>
  {/if}

</nav>
