<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Etherum Client Error</h1>
    <p class="lead">Looks like something went wrong with initial config of app. Try Refresh or check back later.</p>
  </div>
</div>