<script>
export let oVaultInfo = {sMessage : "Loading account info......"};

import AddCred from './AddCred.svelte';
import CredTable from './Table.svelte';


function onAdd(){

    alert("add clicked");
}

async function fetchD(){
VaultContract.methods.fetchVault( oVaultInfo.vno, "0" ).call().then(
async (data) => {
      console.debug(data);


}




)



}




</script>

{#if  oVaultInfo.sMessage }



<div class="jumbotron">
  <h3 class="display-4">{oVaultInfo.sMessage}</h3>
  <hr class="my-4">
{#if oVaultInfo.sMessage.search("Loading") === -1 }
  <p>Looks like you havent created account with us. Go on create an account. Its free</p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">
  Add Credentials
</button>
<AddCred />
{/if}
</div>
{:else}
<CredTable />



{/if}