<script>
  import {account, VaultContract} from './App.svelte';
  import AddCred from './AddCred.svelte';
  let TableData = [];


VaultContract.events.CUDEvent({}, (error, data)=> {
  console.log("callback",error,data);

}).on("data", (data)=>{
  window.len = data.returnValues.len;
  LoadTable();
});



async function LoadTable() {

TableData = [];
for(let i=0; i< window.len ; i++)
{
await VaultContract.methods.fetchVault(window.vno, i).call({
      from : $account
   }).then((data)=> {   
   console.debug(data);
      TableData.push(data);
   });

}

TableData  = TableData;

}

LoadTable();

</script>

<div class="d-flex justify-content-md-end">
<button type="button" class="btn btn-primary margin-half " data-toggle="modal" data-target="#AddModal">
  Add Credentials
</button>
<AddCred />
</div>

{#if TableData.length }
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Website</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>

 
  
  {#each TableData as ele, i}
    <tr>
      <th scope="row">{i+1}</th>
       <td>{ele.webs}</td>
      <td>{ele.uname}</td>
      <td>{ele.pswd}</td>
    </tr>
  {/each}
  
  




  </tbody>
</table>
 {:else}
 
<div class="d-flex justify-content-center">
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>
 {/if} 